<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wg.blog.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.wg.blog.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="publishDate" jdbcType="TIMESTAMP" property="publishdate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wg.blog.model.Comment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, aid, parentId, uid, publishDate
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wg.blog.model.Comment">
    insert into tbl_comment (id, aid, parentId, 
      uid, publishDate, content
      )
    values (#{id,jdbcType=BIGINT}, #{aid,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{publishdate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wg.blog.model.Comment">
    insert into tbl_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wg.blog.model.Comment">
    update tbl_comment
    <set>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wg.blog.model.Comment">
    update tbl_comment
    set aid = #{aid,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wg.blog.model.Comment">
    update tbl_comment
    set aid = #{aid,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>